{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="intro-sec">
        <div class="d-into-sec">
            <div class="row">
                <div class="col-lg-6 d-flex align-items-center h-100">
                    <div class="m-5 p-3">
                        <h3 class="white about mb-5">All the stuff to make a <span class="yellow-b">website.</span> Do it yourself or let us help</h3>
                        <h4 class="white about-d mb-5">Everything needed to build a website, big or small. These are the same resources we use to build amazing websites and applications. If you need help, just ask! </h4>
                        <button onclick="contactus()" class="btn borad-10 contactusbtn">Contact Us</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="stuff-sec m-5 p-3">
    {% if data.has_contents %}
        <h4 class="font-size-24 mb-4 mt-5">{{ data.category.name }} </h4>
        <div class="row">
            {% for content in data.contents %}
            <div class="col-lg-3 mb-3">
                <div class="stuff-card">
                    <div class="stuff-img borad-10" style="background-image: url('{{ site_url }}{{ content.image }}')">
                        <button class="elip-1 btn borad-20 b1">{{ data.category.name }}</button>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <h4 class="elip-1">{{ content.name }} </h4>
                        <div class="d-flex">
                            <span>{{ content.rating }}</span><img style="width: 20px" src='{% static "assets/img/star.png" %}'>
                        </div>
                    </div>
                    <div class="content-desc elip-3">
                    <h5>{{ content.desc }}</h5>
                    </div>
                    <button onclick="explore_content('{{ content.id }}')" class="btn borad-10 b2 mt-5">Explore Now <span class="float-right"><i class="fa fa-fw fa-long-arrow-right"></i></span></button>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endif %}
    </section>
{% endblock content %}
