{% extends "base.html" %}
{% load static %}

{% block content %}

    <section class="stuff-sec m-5 p-3">
        <h4>Search Results for <span class="font-w-600">"{{ keyword }}"</span></h4>
        <div class="row">
            {% for content in contents %}
            <div class="col-lg-3 mb-3">
                <div class="stuff-card">
                    <div class="stuff-img borad-10" style="background-image: url('{{ site_url }}{{ content.image }}')">
                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <h4>{{ content.name }} </h4>
                        <div class="d-flex">
                            <span>{{ content.rating }}</span><img style="width: 20px" src='{% static "assets/img/star.png" %}'>
                        </div>
                    </div>
                    <h5>{{ content.desc }}</h5>
                    <button onclick="explore_content('{{ content.id }}')" class="btn borad-10 b2 mt-5">Explore Now <span class="float-right"><i class="fa fa-fw fa-long-arrow-right"></i></span></button>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="pagination">
            <span class="step-links">
                {% if contents.has_previous %}
                    <a class="ml-3 hand" onclick="gopage(1)">&laquo; first</a>
                    <a class="ml-3 hand" onclick="gopage({{ contents.previous_page_number }})" >previous</a>
                {% endif %}

                <span class="current">
                    Page {{ contents.number }} of {{ contents.paginator.num_pages }}.
                </span>

                {% if contents.has_next %}
                    <a class="ml-3 hand" onclick="gopage({{ contents.next_page_number }})">next</a>
                    <a class="ml-3 hand" onclick="gopage({{ contents.paginator.num_pages }})">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </section>
{% endblock content %}
